<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>CineFilmToday</title>

    <link rel="icon" type="image/png" href="imagenes/favicon.png" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css">

</head>
<body>

    <div class="header">
        <a href="index.html">
            <div class="logo-block">
                <img src="imagenes/logo-blanco.png" alt="" width="44" height="42">
                <h3 class="neonText animated">CineFilmToday</h3>
            </div>
        </a>
        <i id="mainmenu" class="menu ri-menu-5-line"></i>
    </div>


    <!-- MENU HAMBURGUESA -->
    <div class="menu-container">
        <img src="imagenes/logo.png" alt="" width="120">
        <h3 class="neonText">CineFilmToday</h3>
        <hr>
        <ul>
            <li>
                <a href="index.html">INICIO</a>
            </li>
            <li>
                <a href="contacto.html">CONTACTO</a>
            </li>
        </ul>
    </div>
    
    <!-- SOMBRA PARA MENU HAMBURGUESA -->
    <div class="menu-container-shadow"></div>

    <section class="main-section">

        <div class="detalle_pelicula">

            <div class="detalle_pelicula_fondo" id="detalle_pelicula_fondo"></div>

            <div class="detalle_pelicula_imagen coleccion">
                <img id="poster" class="pelicula_poster_grande" src="" alt="">

            </div>

            <div class="detalle_pelicula_texto">
                <h2 id="titulo" style="margin:0;color:white"></h2>
                <br>
                <p id="sinopsis" style="font-size:.9rem;margin-top:.5rem"></p>

            </div>

        </div>


        <div class="peliculas_listado" id="listado">
            <!-- ACA VA LA LISTA DE PELICULAS - SE CARGAN CON JAVASCRIPT -->
                
        </div>

    </section>
    

    <!-- Footer -->
    <div class="footer">
        Created by team 14. CaC 23523, python full stack. All rights reserved.2023
    </div>



    <!-- JAVASCRIPT -->
    
    <script src="assets/app.js"></script>
    <script src="assets/api.js"></script>
    
    <script>
        // Conseguimos los parámetros de la query (en la url)
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        // Parametros para generar la lista de peliculas
        const listado = document.getElementById('listado');

        // Creamos el observer para la animacion de caratulas
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.toggle("loaded", entry.isIntersecting)
                    observer.unobserve(entry.target)
                }
            })
        });


        cargarColeccionPeliculas(params.id).then( function(res) {
            generarColeccionPeliculas(res, listado);
        });
        
    </script>

</body>
</html>