{% extends 'layout.html' %}
{% block content %}

<div class="detalle_pelicula">

    {% if respuesta['backdrop_path']  %}
        {% set fondo = respuesta['backdrop_path'] %}
    {% else %}
        {% set fondo = respuesta['poster_path'] %}
    {% endif %}

    <div class="detalle_pelicula_fondo" id="detalle_pelicula_fondo" style="background-image: url(https://image.tmdb.org/t/p/original/{{fondo}});"></div>

    <div class="detalle_pelicula_imagen coleccion">
        <img id="poster" class="pelicula_poster_grande" src="https://image.tmdb.org/t/p/w500/{{poster}}.jpg" alt="">
    </div>

    <div class="detalle_pelicula_texto">
        <h2 id="titulo" style="margin:0;color:white">{{respuesta['name']}}</h2>
        <br>
        <p id="sinopsis" style="font-size:.9rem;margin-top:.5rem">{{respuesta['overview']}}</p>

    </div>

</div>


<div class="peliculas_listado" id="listado">
    <!-- ACA VA LA LISTA DE PELICULAS -->
      
    {% for pelicula in respuesta['parts'] %}
        <!-- Calculamos el porcentaje de calificación de la película y lo mostramos con una barra circular --> 
        {% set porcentaje = (pelicula['vote_average'] * 10) | int %}
        {% if porcentaje >= 70 %}
            {% set color = '#23cf23' %}
        {% elif porcentaje >= 40 %}
            {% set color = 'orange' %}
        {% elif porcentaje > 0 %}
            {% set color = 'red' %}
        {% else %}
            {% set color = '#333' %}
        {% endif %}

        <a class="pelicula_caja" href="/detalle?id={{pelicula['id']}}&amp;path={{pelicula['poster_path'].replace('/', '').replace('.jpg', '')}}">
            <img class="pelicula_poster" src="https://image.tmdb.org/t/p/w300/{{pelicula['poster_path']}}" alt="" loading="lazy">
            <p class="pelicula_titulo">{{pelicula['original_title']}}</p>
            <div class="small-percent-container">
                <div class="percent-container" id="circular">
                    <div class="percent-box" id="percent-box" style="--i:{{porcentaje}}%; --clr:{{color}}">
                        <div class="circle small">
                            <span id="percent-text">{{porcentaje}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

</div>



<!-- JAVASCRIPT -->

<script>
    const res = {{ respuesta | tojson | safe }}
    // Conseguimos los parámetros de la query (en la url)
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());

    // Creamos el observer para la animacion de caratulas
    const cards = document.querySelectorAll(".pelicula_caja");
    const observer = new IntersectionObserver(cards => {
        cards.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.toggle("loaded", entry.isIntersecting)
                observer.unobserve(entry.target)
            }
        })
    });
    
    // Agregamos cada peli al observer para generar la animacion
    cards.forEach( card => {
        card.style.transitionDelay = (card.getBoundingClientRect().left) + 'ms'
        observer.observe(card);
    });
    
</script>

{% endblock %}