<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>CineFilmToday</title>

    <link rel="icon" type="image/png" href="imagenes/favicon.png" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css">

</head>
<body>

    <div class="header">
        <a href="index.html">
            <div class="logo-block">
                <img src="imagenes/logo-blanco.png" alt="" width="44" height="42">
                <h3 class="neonText animated">CineFilmToday</h3>
            </div>
        </a>
        <i id="mainmenu" class="menu ri-menu-5-line"></i>
    </div>

    <!-- MENU HAMBURGUESA -->
    <div class="menu-container">
        <img src="imagenes/logo.png" alt="" width="120">
        <h3 class="neonText">CineFilmToday</h3>
        <hr>
        <ul>
            <li>
                <a href="index.html">INICIO</a>
            </li>
            <li>
                <a href="contacto.html">CONTACTO</a>
            </li>
        </ul>
    </div>
    
    <!-- SOMBRA PARA MENU HAMBURGUESA -->
    <div class="menu-container-shadow"></div>

    <section class="main-section">
    
        <div class="detalle_pelicula">
    
            <div class="detalle_pelicula_fondo" id="detalle_pelicula_fondo"></div>
    
    
            <div class="detalle_pelicula_imagen">
                <img id="poster" class="pelicula_poster_grande" src="" alt="">
    
            </div>
    
            <div class="detalle_pelicula_texto">
                <h2 id="titulo" style="margin:0;color:white"></h2>
                
                <p id="titulo_traducido" style="margin:.75rem 0;font-size:.9rem"></p>
        
                <div style="display:flex;">
                    <div>
                        <div class="percent-container" id="circular">
                            <div class="percent-box" id="percent-box" style="--i:100%;--clr:#333">
                                <div class="circle">
                                    <span id="percent-text">SC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin: .15rem 1.5rem">
                        <p id="fecha" style="font-size:.8rem;"></p>
                        <p id="genero" style="font-size:.8rem;font-weight:600;"></p>
                    </div>
                </div>
    
                <i id="tag" style="opacity: .7;"></i>
    
                <p style="font-size:1.15rem;font-weight:500;margin-bottom:0;">Vista general</p>
                <p id="sinopsis" style="font-size:.9rem;margin-top:.5rem"></p>
        
                <p id="calificacion" style="font-size:.9rem;margin-top:2rem;"></p>
    
                <p id="duracion" style="font-size:.9rem"></p>
    
                <div id="pelicula_detalle_produccion" class="pelicula_detalle_produccion">
    
                </div>
    
            </div>
    
    
        </div>
    
        <div id="coleccion" class="pelicula_coleccion" style="display:none;">
            
        </div>
    
        <div id="reparto" style="display: none; margin: 0 1rem;">
            <p style="margin: 1rem 0 .5rem; font-size: 1rem; color: slategray">Reparto:</p>
            <div id="reparto_lista" class="pelicula_reparto" >
    
            </div>
        </div>
    
        <div id="trailer" class="pelicula_trailer" style="display: none;">
        </div>
    
        <div id="videos" class="pelicula_videos" style="display: none;">
            <p style="margin: 1rem 0 .25rem; font-size: .8rem;">Videos disponibles:</p>
    
        </div>
    
        <p id="estudios_titulo" style="color:gray;font-size:.8rem;margin:1.5rem 1rem 0;display: none;">Productoras:</p>
        <div id="estudios" class="estudios" style="display: none;">            
        </div>

    </section>


    <!-- Footer -->
    <div class="footer">
        Created by team 14. CaC 23523, python full stack. All rights reserved.2023
    </div>


    <!-- JAVASCRIPT -->

    <script src="assets/app.js"></script>
    <script src="assets/api.js"></script>

    <script>
        // Parametros de la query para obtener ID de la pelicula
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        // Parametros para el detalle de la pelicula
        const calificacion= document.getElementById('percent-box');
        const calificacionText = document.getElementById('percent-text');
        const estudios = document.getElementById('estudios');
        const estudiosTitulo = document.getElementById('estudios_titulo');
        const coleccion = document.getElementById('coleccion');

        // Parametros para la lista de videos
        const trailer = document.getElementById('trailer');
        const listaVideos = document.getElementById('videos');

        // Parametros para la lista de actores y directores (reparto)
        const reparto = document.getElementById('reparto');
        const listaReparto = document.getElementById('reparto_lista');
        const produccion = document.getElementById('pelicula_detalle_produccion');

        // Usamos la API para traer los datos
        // Cargamos los datos en el HTML
        cargarDetallePelicula(params.id).then( function(res) {
            generarDetallePelicula(res.detalle, calificacion, calificacionText, estudios, estudiosTitulo, coleccion)
            generarVideosPelicula(res.videos, trailer, listaVideos)
            generarRepartoPelicula(res.reparto, reparto, listaReparto, produccion)
        });


    </script>


</body>
</html>