{% extends 'layout.html' %}
{% block content %}

<!-- BOTONERA NUEVA -->
<div class="tab-container">
    <div class="tabs">
        <input type="radio" id="radio-1" name="tabs" data-tag="now_playing" onclick="cambiarListado('now_playing')" checked />
        <label class="tab active" for="radio-1">En cartelera</label>
        <input type="radio" id="radio-2" name="tabs" data-tag="popular" onclick="cambiarListado('popular')" />
        <label class="tab" for="radio-2">Populares</label>
        <input type="radio" id="radio-3" name="tabs" data-tag="top_rated" onclick="cambiarListado('top_rated')" />
        <label class="tab" for="radio-3">Mejor calificadas</label>
        <input type="radio" id="radio-4" name="tabs" data-tag="upcoming" onclick="cambiarListado('upcoming')" />
        <label class="tab" for="radio-4">Próximos estrenos</label>
        <span class="glider"></span>
    </div>
</div>


<div class="peliculas_listado" id="listado">
    <!-- ACA VA LA LISTA DE PELICULAS - SE CARGAN CON JAVASCRIPT -->

</div>

<script src="{{ url_for('static', filename='assets/api.js') }}"></script>

<script>
    // Parametro para ver cual es el boton activo del menu
    const botonera = document.querySelectorAll('.tab-container .tab');

    // Parametros para generar la lista de peliculas
    const main = document.getElementById('listado');

    // Creamos el observer para la animacion de caratulas
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.toggle("loaded", entry.isIntersecting)
                observer.unobserve(entry.target)
            }
        })
    });

    // Esta funcion limpia la lista acual de películas
    // Luego llama a la API para cargar la lista nueva
    function cambiarListado(seleccion) {
        
        main.innerHTML = '';

        for (boton of botonera) {
            if (boton.getAttribute('data-tag') == seleccion) {
                boton.classList.add('active')
            } else {
                boton.classList.remove('active')
            }
        }

        // Usamos la API para traer los datos
        // Cargamos la lista de peliculas en el HTML
        cargarListadoPeliculas(seleccion).then( function(res) {
            generarListadoPeliculas(res, main);
        });

    }

    cambiarListado('now_playing');

    
</script>

{% endblock %}