<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>CineFilmToday</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/app.css') }}">

</head>
<body>
    <div class="header">
        <a href="/">
            <div class="logo-block">
                <img src="{{ url_for('static', filename='assets/logo-blanco.png') }}" alt="" width="44" height="42">
                <h3 class="neonText animated">CineFilmToday</h3>
            </div>
        </a>
        <i id="mainmenu" class="menu ri-menu-5-line"></i>
    </div>

    <!-- MENU HAMBURGUESA -->
    <div class="menu-container">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="" width="120">
        <h3 class="neonText">CineFilmToday</h3>
        <hr>
        <ul>
            {% if usuario %}
                <li>
                    <span>{{ usuario }}</span>
                    <a class="btn-logout fa fa-times-circle-o" aria-hidden="true" href="{{ url_for('logout') }}"></a>
                </li>
                <br>
            {% endif %}
            <li>
                <a href="/">INICIO</a>
            </li>
            <li>
                <a href="/contacto">CONTACTO</a>
            </li>
        </ul>
    </div>
    
    <!-- SOMBRA PARA MENU HAMBURGUESA -->
    <div class="menu-container-shadow"></div>

    <script src="{{ url_for('static', filename='assets/app.js') }}"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>


    <section class="main-section">

        {% block content %}{% endblock %}

    </section>


</body>
</html>