<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>CineFilmToday</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/favicon.png') }}" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/app.css') }}">

</head>
<body>
    <div class="header">
        <a href="/">
            <div class="logo-block">
                <img src="{{ url_for('static', filename='assets/logo-blanco.png') }}" alt="" width="44" height="42">
                <h3 class="neonText animated">CineFilmToday</h3>
            </div>
        </a>
        <i id="mainmenu" class="menu ri-menu-5-line"></i>
    </div>

    <!-- MENU HAMBURGUESA -->
    <div class="menu-container">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="" width="120">
        <h3 class="neonText">CineFilmToday</h3>
        <hr>
        <ul>
            {% if usuario %}
                {% if avatar %}
                    {% set imagen_perfil = url_for('static', filename='imagenes/' + avatar) %}
                {% else %}
                    {% set imagen_perfil = url_for('static', filename='assets/avatar.png') %}
                {% endif %}
                <div class="menu-profile">
                    <div>
                        <img src="{{ imagen_perfil }}" alt="" height="64" width="64" class="profilepic edit" id="profilepic">
                    </div>
                    <div>
                        <span class="menu-profile-title">{{ usuario }}</span>
                        <div class="menu-profile-buttons">
                            <a href="{{ url_for('profile') }}">PERFIL</a>
                            <span>-</span>
                            <a href="{{ url_for('logout') }}">SALIR</a>
                        </div>
                    </div>
                </div>
                <br>
            {% else %}
                <li>
                    <a class="" aria-hidden="true" href="{{ url_for('login') }}">INGRESAR</a>
                </li>
                <br>
            {% endif %}
            <li>
                <a href="{{ url_for('index') }}">INICIO</a>
            </li>

            {% if usuario %}
                <li>
                    <a href="{{ url_for('favoritos') }}">FAVORITOS</a>
                </li>
            {% endif %}

            <li>
                <a href="{{ url_for('contacto') }}">CONTACTO</a>
            </li>
        </ul>
    </div>
    
    <!-- SOMBRA PARA MENU HAMBURGUESA -->
    <div class="menu-container-shadow"></div>

    <script src="{{ url_for('static', filename='assets/app.js') }}"></script>


    <section class="main-section">

        {% block content %}{% endblock %}

    </section>


</body>
</html>