{% extends 'layout.html' %}
{% block content %}

<div class="form-login">

	<div class="form-container">
		<h4 class="form-title">Registrarse</h4>

		<form action="{{ url_for('register') }}" id="myForm" method="post">

			<label for="nombre">Nombre</label>
			<input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre.." value="{{ nombre }}" required autofocus>
			
			<label for="email">Correo electrónico</label>
			<input type="text" id="email" name="email" placeholder="Ingrese su dirección de correo.." value="{{ email }}" required autofocus>
		
			<label for="password">Contraseña</label>
			<input type="password" id="password" name="password" placeholder="Ingrese una contraseña.." value="{{ password }}" required>

			<label for="password2">Confirmar contraseña</label>
			<input type="password" id="password2" name="password2" placeholder="Repita la contraseña ingresada.." value="{{ password2 }}" required>

			<div class="mensaje">{{ mensaje }}</div>
	
		</form>
		<button onclick="enviarRegistro()" class="button" id="enviar">Registrarse</button>
	
	</div>

</div>

<script>
    const validateEmail = (string) => {
        return string.match(
            /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        );
    };

    var btn_submit = document.querySelector('#enviar');

    function enviarRegistro() {

        let nombre = document.querySelector('#nombre');
        let email = document.querySelector('#email');
        let password = document.querySelector('#password');
        let password2 = document.querySelector('#password2');
        
		nombre.classList.remove('error');
		email.classList.remove('error');
		password.classList.remove('error');
		password2.classList.remove('error');

        let errores = false;

        if (nombre.value.length < 5) {
            errores = true;
            nombre.classList.add('error');
        }

        if (!validateEmail(email.value)) {
            errores = true;
            email.classList.add('error');
        } 

        if (password.value.length < 5) {
            errores = true;
            password.classList.add('error');
        }

		if (password2.value.length < 5) {
            errores = true;
            password2.classList.add('error');
        }

		if (password.value!==password2.value) {
            errores = true;
            password.classList.add('error');
            password2.classList.add('error');
        }
		
        if (errores) {
            return;
        } else {
            document.getElementById("myForm").submit();
        }


    }

    
</script>

{% endblock %}